
/*RECOMENDACIONES*/

body{
    font-family: 'Poppins', sans-serif;
}

/*Navigation Left */
.nav-main ul li a{
    padding: 15px;

}
.nav-main ul li a:hover{
    background: #102a33;
    border: none;
    
}

/*RECOMENDACIONES*/
.container-2{
    width: 100%;
    display:inline;
    
}
.recomendaciones{
    width: 60%;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    float: left;
}

.recomendaciones .recomendaciones-a div:hover{
    background:#1f7480e7;
    border: #102a33 solid 1px;
}
.recomendaciones div{
    margin: 10px;
    padding: 10px;
}

.recomendaciones h2{
    font-size: 17px;
}
.recomendaciones h2, .recomendaciones p{
    width: 90%;
    padding: 1%;
}

.recomendaciones div img{
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/* Tooltip text */
.item .tooltiptext {
    visibility: hidden;
    width: 25%;
    background-color: rgb(7, 34, 44);
    color: #fff;
    padding: 5px;
    position: static;
    border-radius: 6px;
   
    /*Posicion del tooltip text*/
    position:absolute;
  }
  
  /* Visualiza el tooltip text cuando se pasa el mouse sobre el DIV que contiene la imagen */
  .item:hover .tooltiptext {
    visibility: visible;
  }

/*TRAILERS*/
.extra-div{
    width: 35%;
    margin: 10px;
    padding: 10px;
    float: right;
    border-left: #fff solid 5px;
}

.aside-extra .extra-div img{
    width: 95%;
    padding: 5px 5px;
}
.aside-extra .extra-div img:hover{
    opacity: 0.6;
    background: rgb(120, 255, 255);
}


.aside-extra .extra-div .btn{
    margin: 0 35% ;
    
}

.social, .footer-links, .footer{
    clear: both;
}

/*PAGINAS EXTRAS*/

.contenedor{
    display:inline-block;
}
.redacciones{
    padding: 25px;
    width: 70%;
    text-align: justify;
    background:rgba(0, 0, 0, 0.479);
    float:left;

}
.redacciones h2{
    font-size: 25px;
}
.r-img{
    margin-left: 25%;
    width: 50%;
    padding-top: 5px;
}
.r-img:hover{
    border: #47889e solid 5px;
    zoom: 1;
}
.aside-r{
    border-left: #fff solid 2px;
    padding: 25px;
    font-size: 14px;
    float:right;
    width: 25%;
}
.redacciones p, .redacciones h2, .redacciones time{
    padding: 5px;
}
.aside-r .aside-div ul li{
    padding-top: 15px;
}
.aside-r .aside-div ul li a.links-p:hover{
    border-bottom: #47889e solid 2px;
}


@media(max-width:700px){

    .recomendaciones{
        grid-template-columns: 1fr;
    }
    .redacciones{
        width: 100%;
    }
    .container-2{
        display: block;
    }
    .aside-r{
        border-left: none;
        float: none;
        width: 100%;
    }

}
